<div class="login-page">
<div class="headingOnly">
    <h2>Employee Task <br>Management System</h2>
  </div>
  
  <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="login-container">
      <h1>Welcome Back!</h1>
      <h3>Manage all Your Task in One Place</h3>
      <div class="input-group">
        <label for="email">Email Address</label>
        <input type="email" placeholder="Enter Email Address" formControlName="email">
        <div *ngIf = "loginForm.get('email')?.invalid && ( loginForm.get('email')?.touched)">
          <small *ngIf="loginForm.get('email')?.errors?.['required'] " style="color: rgb(209, 94, 94);">Name is required.</small>
          <small *ngIf="loginForm.get('email')?.errors?.['minlength']" style="color: rgb(209, 94, 94);">Name must be at least 4 characters long.</small>
        </div>
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password" formControlName="password">
        <div *ngIf = "loginForm.get('password')?.invalid && ( loginForm.get('password')?.touched)">
          <small *ngIf="loginForm.get('password')?.errors?.['required'] " style="color: rgb(209, 94, 94);">Name is required.</small>
          <small *ngIf="loginForm.get('password')?.errors?.['minlength']" style="color: rgb(209, 94, 94);">Name must be at least 4 characters long.</small>
        </div>
      </div>
      <div class="forgot-password">
        <a href="#">Forgot Password?</a>
      </div>
      <button class="login" routerLink="/dashboard" >Log-in</button>
    </div>
  </form>
</div>